// Neutral
$deep:#333; 
$grey:#999;
$light:#fcfcfc;


// primary
$primary-normal:#34b073;
$primary-light:#d2e8c7;
$primary-light-2:#a4e9c8;
$primary-dark:#0f763c;

// secondary
$secondary-normal:#446db0;
$secondary-light:#cdcce6;
$secondary-dark:#714fa0;


// gold
$gold:#ffbd72;